.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 400px;
	background: #383838;
}

.wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.header {
	height: 88px;
	background: #FFFFFF;
}

.content {
	flex: 1px;
	background: #CCCCCC;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
}